.friendList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
.item {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  padding: 12px 45px;
  border-radius: 4px;
  box-shadow: 2px 3px 2px 1px #bac1d8;
  line-height: 1.3;
}

.item:nth-child(even) {
  margin: 10px 0;
}

.online,
.offline {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.online {
  background-color: rgb(55, 165, 28);
}
.offline {
  background-color: rgb(250, 57, 23);
}
.avatar {
  margin: 5px 30px;
}
.name {
  font-size: 20px;
  font-weight: 700;
  margin: auto 0px;
}
